/* Tabs */
.k-header + .k-tabs{
    --button-height: var(--height-xl);
    position: relative;
    gap: var(--spacing-4);
}

.k-header + .k-tabs:after{
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: var(--spacing-2);
    width: calc(100% - var(--spacing-4));
    height: 1px;
    background-color: var(--color-border);
}


/* Figcaption */
.k-block-figure figcaption{
    text-align: left;
}


/* Bugfixes */
.k-item-content{
    align-items: center;
}

.k-items[data-layout=cardlets][data-size=full] {
    --items-size: 100%;
}
